<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nom </th>
            <th>Prénom </th>
            <th> téléphone </th>
            <th>department</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of listEmployees">
            <td>{{e.id}}</td>
            <td>{{e.employeeFirstname}}</td>
            <td>{{e.employeeLastname}}</td>
            <td>{{e.employeePhone}}</td>
            <td>{{e.department.departmentName }}</td>


        </tr>
        
    </tbody>
</table>

